<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">Terms and Conditions</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">

      <p>Sit amet nisl purus in. Turpis tincidunt id aliquet risus feugiat. Orci dapibus ultrices in iaculis nunc. Elementum integer enim neque volutpat ac tincidunt vitae semper quis. Dolor sit amet consectetur adipiscing elit ut aliquam. Tempus imperdiet nulla malesuada pellentesque. In iaculis nunc sed augue lacus viverra vitae congue. Senectus et netus et malesuada.</p>
      <p>Sit amet nisl purus in. Turpis tincidunt id aliquet risus feugiat. Orci dapibus ultrices in iaculis nunc. Elementum integer enim neque volutpat ac tincidunt vitae semper quis. Dolor sit amet consectetur adipiscing elit ut aliquam. Tempus imperdiet nulla malesuada pellentesque. In iaculis nunc sed augue lacus viverra vitae congue. Senectus et netus et malesuada.</p>
      <p>Sit amet nisl purus in. Turpis tincidunt id aliquet risus feugiat. Orci dapibus ultrices in iaculis nunc. Elementum integer enim neque volutpat ac tincidunt vitae semper quis. Dolor sit amet consectetur adipiscing elit ut aliquam. Tempus imperdiet nulla malesuada pellentesque. In iaculis nunc sed augue lacus viverra vitae congue. Senectus et netus et malesuada.</p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
      </div>

    </div>
  </div>
</section>
