<div class="container">
  <div class="row">
    <div class="col-md-9">
<div class="card">
  <img src="https://images.pexels.com/photos/19160456/pexels-photo-19160456/free-photo-of-surfista.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post-card-img" class="card-img-top img-fluid">
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center">Featured</small>
    <small class="bg-light text-info text-center">Views - 100,256</small>
    <small class="bg-light text-warning text-center">LAST UPDATED - SEP 20, 2020</small>

    <h1 class="mt-3 mb-3">THIS IS A HEADER FOR A TEXT</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lobortis mattis aliquam faucibus purus in massa tempor nec. Diam sollicitudin tempor id eu nisl nunc mi. In egestas erat imperdiet sed euismod. Vulputate odio ut enim blandit volutpat maecenas. Arcu non odio euismod lacinia at quis risus sed vulputate. Justo eget magna fermentum iaculis. At tempor commodo ullamcorper a lacus vestibulum. A iaculis at erat pellentesque adipiscing. Id cursus metus aliquam eleifend. Nunc consequat interdum varius sit. Convallis tellus id interdum velit. Aliquam vestibulum morbi blandit cursus risus. Enim nunc faucibus a pellentesque sit amet porttitor eget.

      Vel quam elementum pulvinar etiam non quam lacus. Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. Iaculis at erat pellentesque adipiscing commodo elit at. Egestas purus viverra accumsan in. Lorem ipsum dolor sit amet consectetur adipiscing elit. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Blandit volutpat maecenas volutpat blandit aliquam. A diam sollicitudin tempor id eu nisl nunc mi. Sit amet purus gravida quis. Tempor commodo ullamcorper a lacus vestibulum sed. Consectetur adipiscing elit ut aliquam purus. Amet massa vitae tortor condimentum lacinia quis vel eros. Pellentesque diam volutpat commodo sed. Sed vulputate odio ut enim blandit. Tortor id aliquet lectus proin nibh nisl. Tempus quam pellentesque nec nam aliquam sem et tortor. Lorem ipsum dolor sit amet.

      Vehicula ipsum a arcu cursus vitae congue. Arcu dui vivamus arcu felis bibendum. Gravida cum sociis natoque penatibus et magnis dis parturient montes. Erat imperdiet sed euismod nisi porta lorem mollis. Dui sapien eget mi proin. Dolor magna eget est lorem. Etiam dignissim diam quis enim lobortis. Felis donec et odio pellentesque diam volutpat commodo. Augue lacus viverra vitae congue eu consequat. Eu consequat ac felis donec.
    </p>
  </div>
</div>
    </div>



    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
